---
layout: page
title: Games
permalink: /projects/games/
order: 3
exclude: true
---

{% assign sorted_pages = (site.data.games | sort: 'year' | reverse) %}


This page includes only my games. Show: 

<!--type contains 'game' You can download the PDF [here]({{ site.url }}/assets/document.pdf).-->
<a id ="gameslink" href="../">All</a> <a id ="reslink" href="../research">Only Research</a>

<br><br>

<div class="gallery-div">
    {% for paper in sorted_pages %}
        {% if paper.type contains 'game' %}
            {% assign fileexists = false %}
            <a href="../{{ paper.tag}}" class="gallery">
                {% for static_file in site.static_files %}
                    {% assign filename = '/assets/games/thumb/' | append:  paper.tag| append:'.png' %}
                    {% if static_file.path == filename %}
                        {% assign fileexists = true %}
                    {% endif %}
                {% endfor %}
                
                {% if fileexists == true %}
                    <figure class="fig">
                      <img src="/assets/games/thumb/{{ paper.tag}}.png" alt="" onmouseover="  this.src='/assets/games/thumb/{{ paper.tag}}.gif' " onmouseout="this.src='/assets/games/thumb/{{ paper.tag}}.png'">
                      <p class="hovering">{{ paper.name }}</p>
                    </figure>
                {% else %}
                     <div class="card">
                            <div class="replacement" >
                                {{ paper.name }}
                             </div>
                        </div>
                {% endif %}
            </a>
       
        {% endif %}
    {% endfor %}
    
  <!--a href="/assets/bg1.jpg" class="gallery"> 

 <div style="opacity:0" onmouseover="this.style='opacity:100'" onmouseout="this.style='opacity:0'" >
                      {{ paper.name }}
                    </div>

    <figure>
      <img src="/assets/bg1.jpg" alt="">
    </figure>
  </a>

    <a href="/assets/bg2.jpg" class="gallery">
    <figure>
      <img src="/assets/bg2.jpg" alt="">
    </figure>
  </a>

    <a href="/assets/bg3.jpg" class="gallery">
    <figure>
      <img class="gallery-img" src="/assets/bg3.jpg" alt="">
    </figure>
  </a>

    <a href="/assets/bg3.jpg" class="gallery">
    <figure>
      <img src="/assets/bg3.jpg" alt="">
    </figure>
  </a>

    <a href="/assets/bg2.jpg" class="gallery">
    <figure>
      <img src="/assets/bg2.jpg" alt="">
    </figure>
  </a>

    <a href="/assets/bg1.jpg" class="gallery">
    <figure>
      <img src="/assets/bg1.jpg" alt="">
    </figure>
  </a>

    <a href="/assets/bg1.jpg" class="gallery">
    <figure>
      <img src="/assets/bg1.jpg" alt="">
    </figure>
  </a>

    <a href="/assets/bg3.jpg" class="gallery">
    <figure>
      <img src="/assets/bg3.jpg" alt="">
    </figure>
  </a>
     <a href="/assets/bg1.jpg" class="gallery">
    <figure>
      <img src="/assets/bg1.jpg" alt="">
    </figure>
  </a>

    <a href="/assets/bg3.jpg" class="gallery">
    <figure>
      <img src="/assets/bg3.jpg" alt="">
    </figure>
  </a-->

</div>


<!--section id="photos"></section>
  

function getRandomSize(min, max) {
  return Math.round(Math.random() * (max - min) + min);
}

var allImages = "";

for (var i = 0; i < 25; i++) {
  var width = getRandomSize(200, 400);
  var height =  getRandomSize(200, 400);
  allImages += '<img src="https://placekitten.com/'+width+'/'+height+'" alt="pretty kitty">';
}

$('#photos').append(allImages);-->
