---
layout: page
title: Peer-review publications
permalink: /publications/
order: 3
---

{% assign sorted_pages = (site.data.publications | sort: 'year' | reverse) %}



{% assign jou = 0 %}
{% assign conf = 0 %}
{% assign work = 0 %}
{% assign book = 0 %}


{% for paper in sorted_pages %}
    {% if paper.venue == 'journal' %}
        {% assign jou  = jou| plus: 1 %}
    {% elsif paper.venue == 'conf' %}
        {% assign conf = conf | plus: 1 %}
    {% elsif paper.venue == 'book' %}
        {%  assign book = book  | plus: 1 %}
    {% elsif paper.venue == 'workshop' %}
        {%  assign work = work  | plus: 1 %}
    {% endif%}
{% endfor %}


{{ jou }} journal articles, {{ conf }} conference/symposium papers{% if book > 0 %}, {{ book }} book chapters{% endif %} and {{ work }} workshop papers in reverse chronological order.

<br>
<br>

<ul>    
{% for paper in sorted_pages %}
  <li>
      {{ paper.author}} : <b>"{{ paper.title }}"</b>, {{ paper.booktitle }}{% if paper.pages %}, {{ paper.pages }}{% endif %}. {{ paper.year }}.
    <!--a href="https://github.com/{{ paper.github }}">
      {{ paper.title }}
    </a-->
  </li>
{% endfor %}
</ul>